.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color: LIGHTGREY;
-fx-opacity: 0.5;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
      -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
}

.tab-pane {
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:35px;
  -fx-tab-max-height:40px;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 18;
  -fx-background-color: DARKGREY;
  -fx-font-weight: bold;
}

.tab:selected {
    -fx-background-color: GhostWHITE;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
   -fx-background-radius: 20;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 20;
}